<section id="projects">
    <h2>Projects</h2>

    <div class="project">
        <h3>Integrated Excise Supply Chain Management System (IESCMS)</h3>
        <p> Developed IESCMS Solution to ensure product
            authenticity and accountability across all Uttar
            Pradesh Excise Supply Chain transactions.</p>
        <ul>
            <li>Managed application workflows including product requests, approvals, and transport pass generation</li>
            <li> IESCMS Solution will be used by the consumer
                to verify the authenticity of the product sold.</li>
            <li> Providing an inherent use/benefit for the
                manufacturers, government and its citizens for
                using this solution.</li>
            <li>The solution should be accountable for all the
                transactions happening in multiple departments
                related to the Uttar Pradesh Excise in Supply
                Chain Management.</li>
        </ul>
    </div>

    <div class="project">
        <h3> Health Management Information
            System</h3>
        <p> HMIS will be used by the doctors to verify the
            patient details through Registration number
        </p>
        <ul>
            <li> Worked on (HMIS Hospital Management
                Information System) for patient data verification
                using registration numbers.</li>
            <li> Enabled doctors to access patients previous
                medical records efficiently.</li>
                <li> Contributed to reducing treatment delays
                    through quick data retrieval and validation.</li>
                <li> Improved overall healthcare workflow efficiency
                    by integrating digital patient tracking features.</li>
        </ul>
    </div>
</section>