<section id="hero" class="hero">
  <!-- Left social links -->
  <div class="hero-social-links">
    <a href="https://github.com/Jpprakash504" target="_blank" class="github">
      <i class="fab fa-github"></i>
    </a>
    <a href="https://www.linkedin.com/in/jaya-prakash-mt" target="_blank" class="linkedin">
      <i class="fab fa-linkedin"></i>
    </a>
    <a href="Jayapraksh_3.5 Years_Angular_developer_Resume.pdf" download class="resume">
      <i class="fas fa-file-download"></i>
    </a>
    <a href="https://wa.me/919042591469?text=Hi%20Prakash" target="_blank" class="whatsapp-btn">
  <i class="fab fa-whatsapp"></i>
</a>
  </div>


  <!-- Center content -->
  <div class="hero-content">
    <h2>Hi, I'm Jaya Prakash M 👋</h2>
    <p>Front End Developer | (Angular)</p>
  </div>

  <!-- Right profile picture -->
  <div class="profile-card">
    <img src="/Jaya_Prakash.jpg" alt="Jaya Prakash M" class="profile-img" />
  </div>
</section>